/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self

 */

a{
  color: #E54659;
  font-weight: bold;
}

.top-bar {
  background-color: #152e27;
}

.top-bar a{
  color: #E54659;
}

.top-bar h1{
  font-family: 'Luckiest Guy';
  margin-top: 1rem;
}

.top-bar p{
  margin-top: 10px;
  font-weight: bold;
}

.footer {
  position: fixed;
  bottom: 0;
}

.note-text {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  font-style: italic;
  text-align: center;
}

.content {
  margin: 0 auto;
  margin-top: 2rem;
}

.flash {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.grid-container {
  margin-bottom: 2rem;
}

h2{
  color: #152e27;
  font-weight: bold;
}

label{
  color: #152e27;
  font-size: 1em;
  font-weight: bold;
}

.custom-button{
  background-color: #E54659;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
  border-radius: 30px
}

.gray-button{
  background-color: #c2b8b9;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
  border-radius: 30px
}

.center {
  margin: 0 auto;
}

.tile {
  border: .5em solid #152e27;
  margin: 1em;
}

.tile-margins {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.tile-text {
  font-size: 1.5em;
}

.page-title {
  color: #E54659;
  font-size: 3em;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
}

.error-text {
  font-style: italic;
  text-align: center;
}

.waiting {
  font-style: italic;
  font-weight: bold;
  color: #E54659;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
}

.final-text {
  font-weight: bold;
  font-size: 2em;
  margin: 0 auto;
  margin-bottom: 1em
}

canvas {
  border: 3px solid #c4c4c2;
  background: #f2f2eb;
  height: 450px;
  width: 100%;
}

.join-error {
  color: red;
  font-style: italic;
}
